/* header {
    text-align: center;
    background-color: rgb(253, 101, 0);
    padding: 15px;
} */

.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding-left: 20px;
    padding-right: 20px;

}

.header-text {
    padding-top: 5px;
    font-size: 50px;
}

.header-image {
    width: 8vw;
    height: 12vh;
}

/* footer {
    text-align: center;
    background-color: rgb(253, 101, 0);
    padding: 15px;
} */
header,
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(253, 101, 0);
    color: black;
    width: 100%;
    padding: 15px clamp(20px, 4vw, 30px) 20px;
}

#body-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}